.filters {
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	background-color: white;
	border-radius: 4px;
	display: flex;
	justify-content: left;
  }
  
  button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	margin-right: 30px;
	margin-top: 11px;
	position: relative;
	float: right;
	order: 100;
  }
  
  button:hover {
	opacity: 90%;
  }
  
  .locations, .amenities {
	height: 100%;
	width: 25%;
	position: relative;
  }
  
  .dummy {
	height: 100%;
	width: 40%;
  }
  
  .locations {
	border-right: #DDDDDD solid 1px;
  }
  
  .text {
	height: 100%;
	width: 100%;
  }
  
  .text h3, h4 {
	padding-left: 45px;
	padding-top: 3px;
	line-height: 4px;
  }
  
  .text h3 { font-weight: 600; }
  
  .text h4 { font-weight: 400; font-size: 14px;}
  
  .filters div:hover .popover {
	display:block;
  }
  
  .popover {
	display: none;
	border: #DDDDDD solid 1px;
	border-radius: 4px;
	margin-top: -15px;
	padding-top: 10px;
	padding-bottom: 30px;
	background-color: white;
	max-height: 300px;
	overflow: auto;
  }
  
  .popover ul, li {
	list-style: none;
  }
  
  .locations .popover li {
	margin-left: -20px;
  }

   /* Hide scrollbar for Chrome, Safari and Opera */
  .example::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
